<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
	<bean class="java.lang.String" id="passKey">
		<constructor-arg index="0">
			<value>${pass.key}</value>
		</constructor-arg>
	</bean>
	<bean class="java.lang.String" id="cookie.key">
		<constructor-arg index="0">
			<value>${cookie.key}</value>
		</constructor-arg>
	</bean>
	<bean class="java.lang.String" id="loginCookieKey">
		<constructor-arg index="0">
			<value>${login.cookie.key}</value>
		</constructor-arg>
	</bean>
	<bean class="java.lang.String" id="fileRootPath">
		<constructor-arg index="0">
			<value>/home/upload/fileroot</value>
		</constructor-arg>
	</bean>
	<bean class="com.common.cookie.CookieItem" id="cookieItem"
		  abstract="true">
		<property value="true" name="encrypt" />
		<property value="${cookie.key}" name="key" />
		<property value="/" name="path" />
		<!-- <property name="expiry" value="10" /> -->
	</bean>

	<bean class="java.util.ArrayList" id="cookies">
		<constructor-arg>
			<list>
				<bean parent="cookieItem">
					<property name="name" value="${login.cookie.key}" />
				</bean>
			</list>
		</constructor-arg>
	</bean>
	<bean class="com.common.cookie.CookieCipherTools" id="cookieCipherTools">
		<property value="utf-8" name="charsetName" />
	</bean>
	<bean class="com.common.cookie.CookieUtils" id="cookieUtils">
		<property name="cookies" ref="cookies" />
	</bean>
	<bean class="com.common.constants.GlobalContstants" id="global" />

	<bean id="velocityTools" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="stringUtils">
					<bean class="com.common.util.StringUtils" />
				</entry>
				<entry key="dateUtil">
					<bean class="com.common.util.DateUtil" />
				</entry>
				<entry key="global" value-ref="global" />			
			</map>
		</constructor-arg>
	</bean>

	<bean id="systemConstants" class="com.upload.util.constants.SystemConstants"></bean>
</beans>